.mb-bttn {
  border-radius: 4px;
  border: 1px solid #787878;
  box-sizing: border-box;
  color: #787878;
  display: inline-block;
  font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  height: 30px;
  margin: 15px;
  padding: 0 15px 0 0;
  text-decoration: none;
}
.mb-bttn:hover {
  background-color: #eee;
}
.mb-bttn::before {
  background-color: #ff1e0d;
  background-image: url('./makerbot-m-logo.svg');
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;
  content: '';
  display: inline-block;
  height: 30px;
  left: -1px;
  margin-right: 10px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 30px;
}
.mb-bttn-small {
  font-size: 14px;
  height: 20px;
  padding: 0 10px 0 0;
}
.mb-bttn-small::before {
  height: 20px;
  margin-right: 5px;
  width: 20px;
}
.mb-bttn-dark {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.mb-bttn-dark:hover {
  background-color: #787878;
  border-color: #787878;
}
.mb-bttn-dark::before {
  background-color: #000;
  border-right: 1px solid #fff;
}
